<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Template</title>
</head>
<body>
    <div class="header">
        <div class="inner-header">
            <div class="logo-container">
                <h1>KWIZ</span></h1>
            </div>
            <ul class="nav">
                <a href="#"><li>Home</li></a>
                <a href="#"><li>About</li></a>
                <a href="#"><li>Login / Register</li></a>
                <a href="#"><li>Team</li></a>
            </ul>
        </div>
    </div>
    <div  class="container">
        <div class="main">
            <p>
                Main body
            </p>
        </div>
    </div>
    <div class="footer">
        <div class="inner-footer">
            <div class="logo-container">
                <img src="./images/logo.jpg" alt="">
            </div>
            <div class="footer-third">
                <h3>
                    This website was made as a project towards Internet and Web Programming Course at VIT Bhopal.
                    <br>
                    Find the source code for this site on Github
                </h3>
            </div>
            <div class="footer-third">
                <a href="#">Contact Us</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Sitemap</a>
            </div>
        </div>
    </div>
</body>
</html>